body {
  font-family: 'Montserrat', sans-serif;
}
nav{
  font-family: 'Roboto Mono', monospace;
}
.robotmono{
  font-family: 'Roboto Mono', monospace;
}
.bg-videogamesprojects{
  background-color: #5a5d5e;
}

.bg-fullstackprojects{
  background-color: #292a2b;
}
.bg-project{
  background-color: #2f4349;
  box-shadow: 0 3px 8px rgb(0, 0, 0);
  border-radius: 10px;
}
.bg-otherProjects{
  background-color: #43443c;
}

.bg-home{
  background-color: #5a5d5e;
  position: relative;
  z-index: 1;
}
.bg-aboutMe{
  background-color: #354347;
  
}

.bg-skills{
  background-color: #0f1f1a;
  
}

.bg-skill{
  background-color: #0c1011;
  box-shadow: 0 3px 8px rgb(0, 0, 0);
  border-radius: 10px;
  
}

.bg-experience{
  background-color: #494a5a;
}
.bg-experience-individual{
  background-color: #5f7177;
  border-radius: 10px;
}
.bg-education{
  background-color: #647b81;
  
}
.bg-education-individual{
  background-color: #3c3e4e;
  border-radius: 10px;
}
.bg-contact{
  background-color: #0d0d0e;
  
}
.bg-contact-individual{
  background-color: #e8f3ff;
  
  border-radius: 10px;
  box-shadow: 0 3px 8px rgb(0, 0, 0);
  
}
.bg-home-individual{
  background-color: #3d4744;
  
  border-radius: 10px;
  box-shadow: 0 3px 8px rgb(0, 0, 0);
  
}

.z-index-1{
  position: relative;
  z-index: 1;
}

.shadow-white{
  box-shadow: 0 3px 8px rgb(255, 255, 255, 0.2);
}
.shadow-white-lg{
  box-shadow: 0 3px 8px rgb(255, 255, 255, 0.5);
}

.fade-div-home-aboutme {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #5a5d5e, #354347);
  position: absolute;
  top: 80%; 
  z-index: -1;
}

.fade-div-projects-skills {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #43443c, #0f1f1a);
  position: absolute;
  top: 100%; 
  z-index: -1;
}

.fade-div-skills-experience {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #0f1f1a, #494a5a);
  position: absolute;
  top: 95%; 
  z-index: -1;
}
.fade-div-experience-education {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #494a5a, #647b81);
  position: absolute;
  top: 100%; 
  z-index: -1;
}
.fade-div-education-contact {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #647b81, #354347);
  position: absolute;
  top: 100%; 
  z-index: -1;
}

.skill-container{
  width: 150px;
  height: auto;
}

.level-container {
  display: flex;
  gap: 5px;
}

.level-square {
  width: 20px;
  height: 20px;
  background-color: #e0e0e0; 
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.level-square.filled {
  background-color: #dfcc24; 
}

.fs-10{
  font-size: 75px;
}




